@using ToDoListApp.Models;
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <ul>
      @if(Model != null)
      {
        @foreach(Item item in Model)
        {
          <li><a href='/items/@item.GetId()'>@item.GetName()  |  </a><a href="/items/@item.GetId()/update">Edit</a></li>
        }
      }
    </ul>
    <h3><a href='/categories/new'>Add a new category</a></h3>
    <h3><a href='/categories'>View categories</a></h3>

    <form action="/items/delete" method="post">
    <button type="submit" name="button">Clear All Items</button>
    </form>

  </body>
</html>
